@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito", sans-serif;
  background-color: #f7f7f7;
}

.logo {
  font-size: 1.8rem;
  font-weight: 600;
  color: #041c46;
}
.logo:hover {
  color: rgb(35, 88, 138);
  text-decoration: none;
}

h1 {
  font-size: 2.35rem;
  font-weight: 800;
  color: #2d3748;
}
h2 {
  font-size: 1.75rem;
  font-weight: 600;
  color: #2d3748;
}
h3 {
  font-size: 1.25rem;
  font-weight: 500;
  color: #2d3748;
}
h4 {
  font-size: 1.15rem;
  font-weight: 600;
  color: #2d3748;
}

button {
  @apply bg-blue-600 text-white font-semibold lg:py-1 lg:px-4 rounded hover:bg-blue-700 hover:text-white shadow-sm hover:shadow-md py-1 px-3;
}

a {
  color: #2568a7;
  text-decoration: none;
  font-weight: 600;
}
a:hover {
  color: #1f3e63;
  text-decoration: underline;
}
