---
---

<nav class="navbar bg-base-100 shadow-lg">
  <div class="navbar-start">
    <a href="/" class="btn btn-ghost text-xl">
      <img src="/assets/Logo.svg" alt="Xoultec Logo" class="h-8" />
    </a>
  </div>
  <div class="navbar-end">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/" class="btn btn-ghost">Home</a></li>
      <li><a href="/portfolio" class="btn btn-ghost">Portfolio</a></li>
      <li><a href="/contact" class="btn btn-ghost">Contact</a></li>
      <li>
        <a 
          href="https://pay.xoultec.com/p/login/6oE8xf7s9bKQ1xKaEE" 
          class="btn btn-primary"
          target="_blank"
          rel="noopener noreferrer"
        >
          Customer Portal
        </a>
      </li>
    </ul>
  </div>
</nav>